body {
  font-family: sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: lightblue;
}

#app {
  background-color: rgb(47, 104, 131);
  border: rgb(23, 45, 85) 4px solid;
  padding: 20px;
  border-radius: 8px;
}
inputs {
  display: flex;
  flex-direction: colum;
}

input {
  margin: 8px 0;
  padding: 8px;
}

.botoes {
  display: flex;
  justify-content: center;
}

.mostrar {
  display: flex;
}
.esconder {
  display: none;
}

#btnCalcular {
  width: 40%;
  margin: 0 4px;
  margin: 5px;
  background-color: rgb(23, 45, 85);
  color: rgb(45, 140, 196);
  padding: 8px;
  border-radius: 3px;
  font-weight: bold;
  border: none;
}
#btnLimpar {
  width: 40%;
  margin: 0 4px;
  margin: 5px;
  background-color: rgb(23, 45, 85);
  color: rgb(45, 140, 196);
  padding: 8px;
  border-radius: 3px;
  font-weight: bold;
  border: none;
}

.resultados {
  background-color: lightskyblue;
  border: rgb(28, 96, 160) 1px solid;
  padding: 5px;
  border-radius: 5px;
  margin-top: 8px;
}
